<%- include('partials/header') %>

<main>
    <h1>Lennie is the Coolest Person Everrr</h1>

    <h2>you know it's true bbg</h2>
    <p>Lennie is very neat.<br>Not only are they doing this out of the goodness of their heart, they also can cry for up to 8 hours straight.</p>

    <img class="main-logo" src="images/head-exploding.jpg" alt="lennie">
</main>

<%- include('partials/footer') %>